@namespace Nekai.Razor
@inherits NekaiComponentBase

<label class="@Class" style="@Style" for="@For">
    @ChildContent
</label>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    /// <summary> The ID of the component labelled by this. </summary>
    [Parameter]
    public string For { get; set; } = "";
    /// <summary> Whether the label is assigned to a checkbox or a radio component. </summary>
    [Parameter]
    public bool ForCheck { get; set; }

    public override void AfterClassSet()
    {
        base.AfterClassSet();
        Class += ForCheck
            ? " form-check-label"
            : " form-label";
    }
}