@namespace Nekai.Razor
@inherits NekaiComponentBase

<div class="container">
    @if(HeaderContent is not null)
    {
        <header id="layout-header" class="row">
            <nav class="navbar">
                <div class="navbar-nav w-100 d-inline-flex flex-row align-items-baseline">
                    @HeaderContent
                </div>
            </nav>
        </header>
    }

    <div class="row align-items-start container mx-auto">
        @* Only show the collapse button if the display is small, when the NavMenu spans the whole width of the screen. *@
        @if(NavMenu is not null) {
            <div id="layout-sidebar-container" class="@($"navbar col-sm-12 col-md-{NavMenuColSpan} row")">
                <div class="d-md-none list-group col-12">
                    <NekaiCollapseButton TargetId="layout-sidebar" Class="list-group-item list-group-item-action d-flex align-content-center justify-content-center">
                        <MaterialIcon Alignment="VerticalAlignment.Middle">menu</MaterialIcon>
                    </NekaiCollapseButton>
                </div>
                <nav id="layout-sidebar" class="sticky-top collapse show">
                    @NavMenu
                </nav>
            </div>
        }
        
        <main class=@($"col-md-{(NavMenu is null ? 12 : (12 - NavMenuColSpan))} col-sm-12 layout-main")>
            <div class="container">
                @Body
            </div>
        </main>
    </div>
</div>

@code {
    /// <summary> The main content. </summary>
    [Parameter]
    public RenderFragment? Body { get; set; }
    /// <summary> The content of the navigation column. </summary>
    [Parameter]
    public RenderFragment? NavMenu { get; set; }
    /// <summary> The content displayed at the top of the page. </summary>
    [Parameter]
    public RenderFragment? HeaderContent { get; set; }
    /// <summary> The amount of display columns (in range 0 to 12) to span the
    /// navigation sidebar for. Defaults to 2. </summary>
    [Parameter]
    public int NavMenuColSpan { get; set; } = 2;
}
