@namespace Nekai.Razor
@inherits NekaiComponentBase

<FluentDesignTheme Mode="DesignThemeModes.Dark" OfficeColor="OfficeColor.Word" />

<FluentMainLayout Class="@Class" Style="@Style" HeaderHeight="@HeaderHeight">
    <Header>
        @if(Title is not null) {
            <FluentLabel Typo="Typography.H1">
                @Title
            </FluentLabel>
        }

        @if(HeaderEndContent is not null)
        {
            <FluentSpacer />
            @HeaderEndContent
        }
    </Header>

    <NavMenuContent>
        @NavMenu
    </NavMenuContent>

    <Body>
        @Body
    </Body>
</FluentMainLayout>

@code {
    /// <summary> The main content for the layout. </summary>
    [Parameter]
    public RenderFragment? Body { get; set; }
    /// <summary> The content of the navigation column. </summary>
    [Parameter]
    public RenderFragment? NavMenu { get; set; }
    /// <summary> The content displayed at the end of the header. </summary>
    [Parameter]
    public RenderFragment? HeaderEndContent { get; set; }
    /// <summary> The title to display in the header. </summary>
    [Parameter]
    public string? Title { get; set; }
    /// <summary> The height of the header. </summary>
    [Parameter]
    public int? HeaderHeight { get; set; }

}
