@using System.ComponentModel.DataAnnotations;
@namespace Nekai.Blazor.Components

@inherits NekaiContainerBase

<div class=@Class style=@Style>
	@ChildContent
</div>

@code {
	[Parameter, Required]
	public RenderFragment ChildContent { get; set; } = null!;
	[Parameter, CascadingParameter(Name = nameof(ColSpan))]
	public int ColSpan { get; set; }
	[Parameter, CascadingParameter(Name = nameof(ResponsiveColSpan))]
	public int[]? ResponsiveColSpan { get; set; }

	protected override void OnStyling(ClassBuilder classBuilder)
	{
		base.OnStyling(classBuilder);
		classBuilder
			.WithClass("col")
			.WithResponsiveColSpan(ResponsiveColSpan)
			.WithColSpan(ColSpan);
	}
}
