@using System.ComponentModel.DataAnnotations;
@namespace Nekai.Blazor.Components

@inherits NekaiDynamicComponentBase

<div class=@Class style=@Style>
	<NekaiRow DefaultColSpan="12" NoGutter>
		<NekaiCell>
			@HeaderContent
		</NekaiCell>
	</NekaiRow>
	<CascadingValue Name="@nameof(NekaiCell.ColSpan)" Value="@DefaultColSpan">
		<CascadingValue Name="@nameof(NekaiCell.ResponsiveColSpan)" Value="@ResponsiveColSpan" IsFixed>
			@Rows
		</CascadingValue>
	</CascadingValue>
	@Footer
</div>

@code {
	[Parameter]
	public RenderFragment? HeaderContent { get; set; }
	[Parameter, Required]
	public RenderFragment Rows { get; set; } = null!;
	[Parameter]
	public RenderFragment? Footer { get; set; }
	[Parameter]
	public int[]? ResponsiveColSpan { get; set; }
	[Parameter]
	public int DefaultColSpan { get; set; }

	protected override void OnStyling(ClassBuilder classBuilder)
	{
		base.OnStyling(classBuilder);
		classBuilder.WithClass("container");
	}
}
