<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Nekai.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
		@foreach(string previewPage in PreviewPageNames) {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@GetPreviewPageUrl(previewPage)" Match="NavLinkMatch.All">
                    @previewPage.ToTitleCase()
                </NavLink>
            </div>
		}
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private const string PREVIEW_PAGES_CONTAINER = "/preview/";
    private IEnumerable<string> PreviewPageNames = new string[]
    {
        "button", "container", "grid", "text", "tooltip"
    }.OrderBy(x => x);

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

	private string GetPreviewPageUrl(string pageName)
	    => $"{PREVIEW_PAGES_CONTAINER}{pageName}";
}
