@namespace Nekai.Razor
@inherits NekaiComponentBase

<div id="@Id" class="@Class avatar-group" style="@Style" aria-label="@AriaLabel">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}