@namespace Nekai.Razor
@inherits NekaiComponentBase

<span class="@Class" style="@Style" aria-label="@AriaLabel">
    @ChildContent
</span>


@code {
    /// <summary> Disables animations for this skeleton. </summary>
    [Parameter]
    public bool Static { get; set; }
    /// <summary> The size of the skeleton in columns (1-12). </summary>
    [Parameter]
    public int Size { get; set; } = 12;
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    /// <summary> The color of the skeleton. </summary>
    [Parameter]
    public Theme Color
    {
        get => BackgroundColor; 
        set => BackgroundColor = value;
    }
    /// <summary> Use a wave animation instead of glowing. </summary>
    [Parameter]
    public bool WaveAnimation { get; set; }
    /// <summary> The height size of the skeleton. </summary>
    [Parameter]
    public Sizing Height { get; set; }
    
    public override void AfterClassSet()
    {
        Class += " placeholder col-" + int.Clamp(Size, 1, 12);
        if(!Static)
            Class += WaveAnimation
                ? " placeholder-wave"
                : " placeholder-glow";
        Class += ' ' + Height.AsSkeletonSize();
    }
}