@namespace Nekai.Razor
@inherits NekaiComponentBase


@if(Valid is not null)
{
    <div class="valid-feedback">
        @Valid
    </div>
}

@if(Invalid is not null)
{
    <div class="invalid-feedback">
        @Invalid
    </div>
}

@code {
    [Parameter]
    public RenderFragment? Valid { get; set; }
    [Parameter]
    public RenderFragment? Invalid { get; set; }
    
}