@namespace Nekai.Razor
@using Microsoft.Extensions.Logging
@using Nekai.Common


<FluentTabs>
	@foreach(var entry in _Logs) {
		<FluentTab Label="@entry.Key">
			<FluentDataGrid TGridItem="NekaiLog" Items="@entry.Value.AsQueryable()" >
				<PropertyColumn Title="Machine" Width="200px" Property="(x) => x.MachineName" />
				<PropertyColumn Title="Timestamp" Width="200px" Property="(x) => x.TimeStamp" Sortable="true" Format="yyyy/MM/dd hh:mm:ss" />
				<TemplateColumn Title="Level" Width="100px">
					<p style="@_GetLevelColumnStyle(context.Type)">
						@context.TypeString
					</p>
				</TemplateColumn>
				<PropertyColumn Property="(x) => x.Message" />
			</FluentDataGrid>
		</FluentTab>
	}
</FluentTabs>

@code {
	[Parameter]
	public bool OmitSharedLogs { get; set; }
	[Parameter]
	public bool OmitProgramLogs { get; set; }

	private Dictionary<string, IEnumerable<NekaiLog>> _Logs { get; set; } = [];

	protected override void OnInitialized()
	{
		_LoadLogs();
	}

	private void _LoadLogs()
	{
		_Logs = [];

		if (!OmitSharedLogs)
		{
			_Logs.Add("Shared", NekaiLogs.DeserializeAll(NekaiData.Directories.SharedLogs));
		}

		if (OmitProgramLogs)
			return;

		var directories = NekaiData.Directories.ProgramsLogs.EnumerateDirectories();

		foreach (string directory in directories)
		{
			var dirPath = (PathString?)directory;
			if (dirPath is null)
				continue;

			try
			{
				_Logs.Add(dirPath.GetFileOrDirectoryName().ToString(), NekaiLogs.DeserializeAll(dirPath));
			}catch(ArgumentException)
			{
				NekaiLogs.Shared.Error($"Duplicate directory entry found when filling LogsGrid: '{dirPath}'");
			}
		}
	}

	private string _GetLevelColumnStyle(LogLevel level)
		=> level switch
		{
			LogLevel.Critical => "color: red",
			LogLevel.Error => "color: red",
			LogLevel.Warning => "color: yellow",
			LogLevel.Information => "color: blue",
			_ => ""
		};
}