@namespace Nekai.Razor
@inherits NekaiComponentBase

<div id="@Id" class="@Class card" style="@Style" aria-label="@AriaLabel">
    @if(CardHeader is not null)
    {
        <div class="card-header">
            @CardHeader
        </div>
    }
    
    @if(CardBody is not null)
    {
        <div class="card-body">
            @CardBody
        </div>
    }

    @if(CardFooter is not null)
    {
        <div class="card-footer">
            @CardFooter
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? CardHeader { get; set; }
    [Parameter]
    public RenderFragment? CardBody { get; set; }
    [Parameter]
    public RenderFragment? CardFooter { get; set; }
    [Parameter]
    public Rounding Rounding { get; set; }

    public override void ApplyThemeColors()
    {
        base.ApplyThemeColors();

        Class += ' ' + Rounding.AsClass();
    }
}