@namespace Nekai.Razor
@inherits NekaiComponentBase

<div id="@Id" class="@Class card" style="@Style" aria-label="@AriaLabel">
    @if(Header is not null)
    {
        <div class="card-header">
            @Header
        </div>
    }
    
    @if(Body is not null)
    {
        <div class="card-body">
            @Body
        </div>
    }

    @if(Footer is not null)
    {
        <div class="card-footer">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }
    [Parameter]
    public RenderFragment? Body { get; set; }
    [Parameter]
    public RenderFragment? Footer { get; set; }
    [Parameter]
    public Rounding Rounding { get; set; }

    public override void ApplyThemeColors()
    {
        base.ApplyThemeColors();

        Class += ' ' + Rounding.AsClass();
    }
}