@namespace Nekai.Razor
@inherits NekaiComponentBase

<div id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel">
    @TabsPanelsContent
</div>

@code {
    [Parameter]
    public RenderFragment? TabsPanelsHeaders { get; set; }
    [Parameter]
    public RenderFragment? TabsPanelsContent { get; set; }

    public override void AfterClassSet()
    {
        base.AfterClassSet();

        Class += " tab-content";
    }
}