@namespace Nekai.Razor
@inherits NekaiComponentBase

<div tabindex="-1" class="@Class" style="@Style" id="@Id" aria-label="@AriaLabel">
    <div class="offcanvas-header">
        @OffCanvasHeader
    </div>
    <div class="offcanvas-body">
        @OffCanvasBody
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? OffCanvasHeader { get; set; }
    [Parameter]
    public RenderFragment? OffCanvasBody { get; set; }
    [Parameter]
    public bool Mirror { get; set; }

    public override void AfterClassSet()
    {
        base.AfterClassSet();
        Class += $" offcanvas offcanvas-{(Mirror ? "end" : "start")}";
    }
}