
<div class="@Class" style="@Style">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Class { get; set; }= "";
    [Parameter]
    public string Style { get; set; }= "";
    [Parameter]
    public Display Display { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    protected override void OnParametersSet()
    {
        Class += ' ' + Display.ToClassString();
    }
}