@namespace Nekai.Blazor.Components
@using Microsoft.AspNetCore.Html;

@inherits NekaiPositionableComponent

<p class=@Class style=@Style>
	@_htmlString
</p>


@code {
	[Parameter]
	public bool ReplaceNewLines { get; set; } = false;
	[Parameter]
	public string? Text { get; set; }
	private MarkupString _htmlString;

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		if (Text is null)
			return;
		
		if (ReplaceNewLines)
		{
			_htmlString = new(Text.ReplaceLineEndings("<br />"));
		}
		else
		{
			_htmlString = new(Text);
		}
	}
}
