@namespace Nekai.Razor
@using System.Text
@inherits NekaiComponentBase

<div style="@Style" class="@Class">
	@ChildContent
</div>

@code {
		[Parameter]
		public RenderFragment? ChildContent { get; set; }
}
