@namespace Nekai.Razor
@using System.Text
@inherits NekaiComponentBase

<div style="@Style" class="@Class">
	@ChildContent
</div>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }
	[Parameter]
	public bool Inline { get; set; }
	[Parameter]
	public bool Column { get; set; }
	[Parameter]
	public bool Reverse { get; set; }
	[Parameter]
	public JustifyContent Justify { get; set; }
	[Parameter]
	public Align AlignItems { get; set; }
	[Parameter]
	public Align AlignSelf { get; set; }
	[Parameter]
	public bool NoWrap { get; set; }



	protected override void OnParametersSet() {
		base.OnParametersSet();

		StringBuilder sb = new(Class);

		sb.Append(Inline ? " d-inline-flex" : " d-flex")
		.Append(Column ? " flex-column" : " flex-row");

		if(Reverse)
		{
			sb.Append("-reverse");
		}

		if(NoWrap)
		{
			sb.Append(" flex-nowrap");
		}

		sb.Append(' ').Append(Justify.ToBootStrapClass());
		sb.Append(' ').Append(AlignItems.ToBootStrapAlignItemsClass());
		sb.Append(' ').Append(AlignSelf.ToBootStrapAlignSelfClass());
		
		Class = sb.ToString();
	}
}
