@namespace Nekai.Razor
@inherits NekaiComponentBase

@typeparam T

<td id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel">
    @ChildContent
</td>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}